* {
    font-family: Tahoma, serif;
}

main {
    margin: 15px;
}

.welcomePage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 62px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 52px;
    margin-bottom: 15px;
    margin-top: 25px;
}

h3 {
    font-size: 25px;
    margin-left: 0;
    margin-bottom: 15px;
}

h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

h5 {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
}

h6 {
    font-size: 13px;
}

h7 {
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
}

p {
    margin-left: 0;
}

.nav_links {
    font-size: 25px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
}

.nav_links li {
    display: inline-block;
    color: lightskyblue;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    list-style-type: none;
    text-decoration: none;
    padding: 15px;
    color: black;
}

.nav_links li a:hover {
    color: lightskyblue;
}

.border1 {
    border: 2px solid black;
    border-radius: 5px;
}

.border2 {
    border: 2px solid #3399ff;
    border-radius: 5px;
}

.border3 {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 0;
    margin-top: 35px;
}

body {
    height: 100%;
    margin: 5px;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.map {
    width: 800px;
    height: 500px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#incidentTable td {
    padding: 20px;
    padding-right: 57px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
}

#TypeOfBird {
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.gallery img {
    margin-bottom: 25px;
    transition: transform .2s;
}

.gallery img:hover {
    transform: scale(1.25);
}

.desc {
    margin-bottom: 5px;
}

/* --------------- GRAPHS --------------- */
.birdstrikesByYearChart {
    padding: 20px;
    margin: 60px 100px;
    margin-top: 0;
    border-style: solid;
    border-color: #3399ff;
}

.wildlifeStrikesChart {
    padding: 20px;
    margin: 60px 100px;
    border-style: solid;
    border-color: #3399ff;
}

.textBetweenGraphs {
    display: flex;
    justify-content: center;
}

/* --------------- FUN FACTS --------------- */
.funFacts {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.fact {
    margin-left: 15px;
    margin-top: 50px;
}


